.borde {
    border: solid black;
    background-color: antiquewhite;
}

.boton {
    max-width: 200px;
}

.resultado { 
    font-family: 'Vina Sans', cursive;
    font-size: 30px;
    color:blue;
}

.resultadoFecha {
    font-family: 'Vina Sans', cursive;
    font-size: 20px;
    color:dodgerblue;
}